* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;/*for nav button moving */
}
body {
  background: #080808;
  color: #fff;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url(./background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  background-repeat: no-repeat;
}
.container {
  padding: 10px 10%;
}

nav {
  display: flex; /*item gulo image ar pashe side by side */
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
 position: fixed;
 width: 100%;
 background:#1b1b1b;
 left: 0;
 top: 0;
 padding: 7px;
 z-index: 2;
} 

.l{
  margin-left: 30px;
  left: 0;
}
.it{

margin-right: 50px;

}
nav ul li {
  display: inline-block; /* sm line a logo, nav bar items chole ashbe*/
  list-style: none;
     
  margin: 10px 80px 10px 0;
}
@media only screen and (max-width:800px){ 
  .l{
    margin-left: 10px;
  }
  .it{
    margin-right: 40px;
  }
  nav ul li {

       
    margin: 10px 40px 10px 0;
  }
}

nav ul li a {
  
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  width: 0;
  content: '';
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li a:hover{
  color:bisque;
  opacity: 0.5;
}
.header-text{
  margin-top: 10%;
  font-size: 30px;
  margin-left: 10%;
}
.header-text h1 {
  margin-top: 5px;
  font-size: 50px;
}

.header-text h3{
font-size: 32px;
font-weight: 700;
}

.header-text h3:nth-of-type(2){
  margin-bottom: 30px;
}

.header-text h3 span{
  color: rgb(105, 197, 204);
}

/* -----about----- */
#about {
  padding: 80px 0;
  color: #ababab;
}
.sub-title{
  font-size: 55px;
   width: 600;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about_col_1 {
  flex-basis: 30%; /*flex item ar initial length*/
}

.about_col_1 img {
  width: 100%;
  border-radius: 25px;
  margin-top: 50px;
}
.about_col_2 {
  flex-basis: 65%; /*here 30+65=95 so 5% gap ta  hobe row ar vitore joto class thakbe tader majhe*/
}
.about_col_2 p {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer; /*skill edu ar upor mouse nile hand sign dibe*/
  position: relative; /*  relative positioning moves an element relative to its default position on the page, while absolute positioning moves an element relative to its nearest positioned ancestor.*/
}
.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}


.tab-contents ul li{
  margin: 10px 0;
  font-size: 16px;
  padding: 2px;
}
.tab-contents  ul li a{
  color:rgb(6, 6, 164);
}
.tab-contents  ul li a:hover{
color: green;
}


.tab-contents ul li span{
  color: #b54769;
  font-size:16px;
}
.tab-contents{
  display: none;  /* joto gulo tab content class ar silo shobai hide hoye jabe*/
}
.tab-contents.active-tab{
  display: block;  /* but protom website a dhuktei active tab class ar jei tab content ase sheta show to kora lagbe*/
}

/* portfolio---------- */
#project{
  padding: 50px 0;
  margin-top: 10%;

}
#project h1{
  font-size: 60px;
  color:  #ababab;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); /*1fr means 1 part of available space*/
  /* grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); These keywords tell the browser to handle the column sizing and element wrapping for us so that the elements will wrap into rows when the width is not large enough to fit them in without any overflow. */
  grid-gap: 40px;
  margin-top: 50px;
}
.work{
  border-radius: 10px;
  position: relative;/*because layer class k ancestor(work) ar shathe relatively position dite*/
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height:0;
  background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  /* margin-bottom: 30%; */

  /*The left: 0 and bottom: 0 properties in CSS are used to position an element at the top left corner of its nearest positioned ancestor (instead of from the viewport).

In your case, .layer is an absolutely positioned element because you have set position: absolute. This means it will be positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport). If an absolute positioned element has no positioned ancestors, it uses the document body, and moves along with page scrolling.

So, left: 0 positions the left edge of the .layer element at the left edge of its nearest positioned ancestor. Similarly, bottom: 0 positions the bottom edge of the .layer element at the bottom edge of its nearest positioned ancestor.

This effectively places the .layer element at the bottom left corner of its nearest positioned ancestor*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
padding: 0 40px;
font-size: 14px;

transition: height 0.5s ;
}
.layer h2 h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #ff004f;

  font-size: 18px;
  line-height: 60px;

  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;

 
}
.work:hover img{
  transform: scale(1.1);/*mouse raklei pic ta zoom in hobe*/
}

.work:hover .layer{
  height: 100%;
}
/* contact  ------- */
#contact{
  padding: 50px;
  margin-top: 20%;
}
.touch{
  text-align:center;
  padding: 20px 0 10px 0;
  margin-bottom: 30px;
  font-size: 20px;
}
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left h1{
    font-size: 60px;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
color:  #0ef;;
margin-right: 10px;
font-size: 22px;
}

.social-icons{
  margin-top: 30px;
}

.social-icons a{
  text-decoration: none;
  font-size: 20px;
  margin: 10px 15px 30px 0px;
  background: transparent;
  color: #0ef;
  width: 40px;
  height: 40px;
  border: 2px solid #0ef;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}
.social-icons a:hover{
  transform: scale(1.1);
  background: #0ef;
  color: #ff004f;
  transform: translateY(-5px);
  box-shadow: 0 0px 20px  #0ef;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  transform: background 0.5s;
}
.btn:hover{
  background: #ff004f;
}
.btn.btn2{
  display: inline-block;
  background: transparent;
  color: #0ef;
  border: 2px solid #0ef;

  transition: transform .3s;
}
.btn.btn2:hover{
  transform: translateY(-2px);
  background: #0ef;
color:blue;
  box-shadow: 0 0px 2px  #0ef;

}
.contact-right form{
width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2{
  padding: 7px 30px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background: #131313;
  font-weight: 300;
  margin-top: 20px;
  font-size: 18px;
}
.copyright p span{
  color: #ff004f;
}

.scroll-up-button{
  all: unset;
  position: fixed;
  bottom: 80px;
  right: 20px;
  height: 60px;
  width: 60px;
  background-color: #262626;
  border-radius: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.scroll-up-button .arrow-up{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f9f9f9;
  margin: auto;
  display: block;
  z-index: 1;
}


nav .fa-solid{
  display: none;
}
/* ---css for small screen----- */
@media only screen and (max-width:600px){ /*0px thekle maximum 600px screen size hole nicher code execute koro generally android*/
#header{ 
    background-image:url(./kk.jpeg) ;
  } 
  .header-text{
    margin-top:60% ;
    font-size: 16px;
  }
  .header-text h1{
 font-size: 30px;
  }
  .logo{
    font-size: 2px;
    margin-left: 0;
  }
  nav .fa-solid{
    display: block;/*to visible*/
    font-size: 25px;
  }

nav ul{
    background: #2a2929;
    position: fixed; /*by using pos:fised , it fixed the menu bar to the top-right corner as top=0,right=0*/
    top: 0;
    right:-150px;/*width 200px tai right -200 korsi ,as result side bar hidden hoye gese*/
    width: 150px;
    height: 270px;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li{
   margin: 25px;
   display: block;/*each element ar after and before break dei*/
  }
  nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }



  .sub-title{
    font-size: 40px;
  }
  .about_col_1 , .about_col_2{
    flex-basis: 100%;/*The flex-basis CSS property sets the initial main size of a flex item. It sets the size of the content box unless otherwise set with box-sizing .*/
  }
  .about_col_1{
    margin-bottom: 30px;
  }

  .about_col_1 img {
    border-radius: 50px;
    margin-top: 10px;
  }
  .about_col_2{
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  #project h1{
    font-size: 40px;
  }


 .touch{
  text-align:center;
  padding: 20px 0 0 0;
  margin-bottom: 0px;
  font-size: 20px;
}
  .contact-left , .contact-right{
    flex-basis: 100%;
  }
  .contact-left {
    margin-top: 22%;
  }
  .contact-left h1{
    font-size: 40px;
  }
.contact-left p {
  font-size: 18px;
}
.contact-left p i{
  color:  #0ef;;
  margin-right: 1px;
  font-size: 18px;
  }

  .copyright{
    width: 100%;
    font-size: 14px;
  }
}